.image{
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.pfp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    
}

.logo{
    width: 30px;
    height: 30px;
    object-fit: contain
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 4px;
}
.name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.div{
    margin-left: 10px;
    margin-bottom: 10px;
}
.p1{
    display: inline-block;
    vertical-align: middle;
    opacity: 0.5;

}
.btn{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(86, 86, 236);
    color: azure;
    font-size: 20px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-left: 40px;
    

}