p{
    font-family: arial;
}
.div1,.div2,.div3{
    width: 200px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.15);
    margin-right: 0px;
    display: inline-block;
}
.img1,.img2,.img3{
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}
.p1a,.p2a,.p3a{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 15px; 
}
.p1b,.p2b,.p3b{
    color: rgb(100,100,100);
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 20px;
    vertical-align: middle;
    text-align: middle;    
}
.btn1,.btn2,.btn3{
    background-color: rgb(50,120,250);
    color: white;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;    
}
